.header__bg{
  background-color: var(--cor-5);
  position: relative;
  
}

.header__container{
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 24px;
}

.header__top{
  padding: 81px 0px 114px;
}

.banner__detalhe{
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: -1;
  min-width: 544px;
}

.banner__left{
  position: absolute;
  top: 230px;
  left: -53px;
}

.banner__right{
  position: absolute;
  top: 230px;
  right: -59.5px;
}

.header__banner{
  height: 459px;
  
}

.banner__description{
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 71px 0px 70px;
}

.banner__title{
  margin-bottom: 24px;
}

.banner__text{
  margin-bottom: 64px;
}

.banner__scroll img{
  margin: 0 auto;
}

.banner__mobile{
  display: none;
}

@media (max-width:1250px){
  .banner__left,.banner__right{
    width: 314px;
    height: 356px;
  }

  .banner__left{
    left: -168.73px;
  }

  .banner__right{
    right: -171px;
  }

}

@media (max-width:1000px){
  .banner__title{
    max-width: 16ch;
    margin: 0 auto 24px;
  }
  .banner__detalhe{
    min-width: 386px;
    height: 268px;
    left: 80px;
    top: 50px;
  }

  .banner__text{
    max-width: 48ch;
    margin: 0 auto 32px;
  }
  .banner__description{
    padding: 101px 24px;
  }
  .header__top{
    padding: 48px 0px 77px;
  }
}

@media(max-width:760px){
.banner__mobile{
  display: block;
  min-width: 410px;
  min-height: 233px;
}

.banner__left,.banner__detalhe,.banner__right{
  display: none;
}

.header__banner{
  height: initial;
}

.banner__description{
  padding: 47.5px 24px 0px;
}

.header__top{
  display: flex;
  justify-content: center;
  padding: 40px 24px 65px;
}

.banner__title{
  max-width: 15ch;
}
}